
.header {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.desc-home {
    margin: 50px 200px;
    line-height: 2;
}

.sub-header-home {
    font-family: Andale Mono, monospace; 
}
