.navbar-inverse {
    background-color:#baaa99 !important;
    padding-bottom: 0;
    border-color: #baaa99;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 0px 5px 15px #888888;
}

img {
    height: 70px;
}

.navbar-inverse li {
    display: inline-block;
    padding:3% 10px 3%;
    float: right;
}


a, a:visited, a:active, a:hover, a:link {
    color: #baaa99;
    text-decoration: none;
}


.fa-sign-out-alt {
}