// .inventory-container {
//     background-color: #eae9e7;
//     padding: 10%;
// }

.inventory-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    input {
        grid-column: 1 / -1;
    }

}
