
.order {
    .fa-times-circle {
        margin: 0;
        color: red;
        margin-left: 5px;
        cursor: pointer;
        margin-right: 10px;
    }
}

.orderlist-wrapper {

    .orderlist {
        ul {
            list-style: none;
        } 
        li:nth-child(even) {
            background-color: rgb(255, 243, 221);
        }  
        
  
    }
}
